/* Generally useful rules */
.fl { float: left; }
.fr { float: right; }
.cl { clear: both; }

/* Style resets. */
html, body { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
a:link { color:inherit; }
a:active { color:inherit; }
a:visited { color:inherit; }
a:hover { color:inherit; }
