@import url("base.css");

html { font-family: "Helvetica Neue", "Arial", "sans-serif"; }
table th, table td { padding: 0.2em 1em 0.2em 0; }
a { color: #045CD7; }
pre {
  padding: 1em;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  border-radius: 0.3em;
  overflow: auto;
}
textarea {
  width: 200px;
  height: 50px;
  border: 1px solid #CCCCCC;
  border-radius: 0.3em;
}
table { width: 100%; }
table th { text-align: left; }

.container { padding: 1em; width: 800px; margin: auto; }
.header { background-color: #045CD7; color: white; }
.header .title { font-weight: bold; color: white; }
.header .user { float: right; color: white; }
.header.flash { color: black; background-color: #fff6b5; font-size: 90%; }
.header.flash .container { padding: 0.5em 1em; }
.smallinfo {
  font-size: 80%;
  color: #888888;
}
.smallinfo a { margin-right: 1em; }

.notice { padding: 1em; border: 1px solid #CCCCCC; border-radius: 0.3em; }
.warn { background-color: #FDB4B4; border-color: #FB6A6C; }

.red { background-color: #FA2419; }
.blue { background-color: #045CD7; }
.redt { color: #FA2419; }
.bluet { color: #045CD7; }

.button {
  font-size: 11px;
  margin: 1em 0;
  padding: 1em;
  border: 0px;
  border-radius: 0.5em;
  font-weight: bold;
  color: white;
}
.field { margin-bottom: 0.5em; }
.field label { font-weight: bold; display: block; margin: 0.3em 0; }
.field input {
  padding: 0.5em 1em;
  border: 1px solid #CCCCCC;
  border-radius: 0.2em;
}
.required.field label::after { content: " *"; color: red; }
