@import url("base.css");

html { font-family: "Helvetica Neue", "Arial", "sans-serif"; }
table th, table td { padding: 0.2em 1em 0.2em 0; }
a { color: #045CD7; }

.container { padding: 1em; width: 800px; margin: auto; }
.header { background-color: #045CD7; color: white; }
.header .title { font-weight: bold; color: white; }
.header .user { float: right; }

.red { background-color: #FA2419; }
.blue { background-color: #045CD7; }

.button {
  margin: 1em 0;
  padding: 1em;
  border: 0px;
  border-radius: 0.5em;
  font-weight: bold;
  color: white;
}
.field { margin-bottom: 0.5em; }
.field label { font-weight: bold; display: block; margin-bottom: 0.3em; }
.field input {
  padding: 0.5em 1em;
  border: 1px solid #CCCCCC;
  border-radius: 0.2em;
}
.required.field label::after { content: " *"; color: red; }
