{% extends "base.html" %}
{% from "macros.html" import build_icon, build_ref, fmtdate %}
{% set page_title = build.repo.name + " #" + build.num|string %}
{% block head %}
  {% if build.status == build.Status_Building or build.status == build.Status_Queued %}
  <meta http-equiv="refresh" content="5" />
  {% endif %}
{% endblock head %}

{% block toolbar %}
  <li>
    <a href="{{ build.repo.url() }}">
      <i class="fa fa-chevron-left"></i>{{ build.repo.name }}
    </a>
  </li>
  {% if user.can_manage or build.check_download_permission(build.Data_Log, user) or build.check_download_permission(build.Data_Artifact, user) %}
    <li class="dropdown-list">
      <a href="#" class="dropdown">
        <i class="fa fa-cog"></i>Options
      </a>
      <div class="dropdown-menu">
        {% if build.check_download_permission(build.Data_Log, user) %}
          <a href="{{ build.url(build.Data_Log) }}"><i class="fa fa-download"></i>Download Log</a>
        {% endif %}
        {% if build.check_download_permission(build.Data_Artifact, user) %}
          <a href="{{ build.url(build.Data_Artifact) }}"><i class="fa fa-download"></i>Download Artifacts</a>
        {% endif %}
        {% if user.can_manage %}
          {% if build.status == build.Status_Building %}
            <a href="{{ build.url(stop=True) }}"
                data-confirmation="Are you sure you want to stop this build?">
              <i class="fa fa-stop-circle-o"></i>Stop Build
            </a>
          {% else %}
            {% if build.status != build.Status_Queued %}
              <a href="{{ build.url(restart=True) }}"
                  data-confirmation="Are you sure you want to restart this build?">
                <i class="fa fa-refresh"></i>Restart
              </a>
            {% endif %}
            <a href="{{ url_for('delete', build_id=build.id) }}"
                data-confirmation="Are you sure you want to delete this build? This operation can not be undone.">
              <i class="fa fa-trash"></i>Delete Build
            </a>
          {% endif %}
        {% endif %}
      </div>
    </li>
    <noscript>
      {% if build.check_download_permission(build.Data_Log, user) %}
        <li>
          <a href="{{ build.url(build.Data_Log) }}"><i class="fa fa-download"></i>Download Log</a>
        </li>
      {% endif %}
      {% if build.check_download_permission(build.Data_Artifact, user) %}
        <li>
          <a href="{{ build.url(build.Data_Artifact) }}"><i class="fa fa-download"></i>Download Artifacts</a>
        </li>
      {% endif %}
      {% if user.can_manage %}
        {% if build.status == build.Status_Building %}
          <li>
            <a href="{{ build.url(stop=True) }}"><i class="fa fa-stop-circle-o"></i>Stop Build</a>
          </li>
        {% else %}
          {% if build.status != build.Status_Queued %}
            <li>
              <a href="{{ build.url(restart=True) }}"><i class="fa fa-refresh"></i>Restart</a>
            </li>
          {% endif %}
          <li>
            <a href="{{ url_for('delete', build_id=build.id) }}"><i class="fa fa-trash"></i>Delete Build</a>
          </li>
        {% endif %}
      {% endif %}
    </noscript>
  {% endif %}
{% endblock toolbar %}

{% block body %}
  <span class="block">
    <span class="left-side">
      <span class="block-item block-icon">
        {{ build_icon(build) }}
      </span>
      <span class="block-item block-build-number">
        &#35;{{ build.num }}
      </span>
      <span class="block-item">
        <span class="block-top-item block-fa">
          {{ build_ref(build) }}
        </span>
        <span class="block-bottom-item block-fa" title="{{ build.commit_sha }}">
          {{ build.commit_sha[0:8]}}
        </span>
      </span>
      <span class="block-item">
        <span class="block-top-item">
          &nbsp;
        </span>
        <span class="block-bottom-item additional">
          {{ fmtdate(build.date_queued) }}
        </span>
      </span>
    </span>
    <span class="right-side">
      <span class="block-item">
        <span class="block-top-item block-fa">
          <i class="fa fa-calendar-o"></i>{{ fmtdate(build.date_started) }}
        </span>
        <span class="block-bottom-item block-fa">
          <i class="fa fa-calendar-check-o"></i>{{ fmtdate(build.date_finished) }}
        </span>
      </span>
      <span class="block-item block-fa">
        <i class="fa fa-clock-o"></i>{{ flux.utils.get_date_diff(build.date_finished, build.date_started) }}
      </span>
    </span>
  </span>

  {% if build.status != build.Status_Queued and build.check_download_permission(build.Data_Log, user) %}
    <h3>Build Log</h3>
    {% if not build.exists(build.Data_Log) %}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>Build log missing.</div>
      </div>
    {% else %}
      <pre class="build-log"><code>{{ build.log_contents() }}</code></pre>
    {% endif %}
  {% endif %}
{% endblock %}
