<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>{{ config.app_title|safe + ((" | " + page_title) if page_title else "") }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='flux/css/flux.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='flux/css/font-awesome.min.css') }}">
    {% block head %}
    {% endblock head %}
  </head>
  <body><div id="wrapper">
    <div id="header"><div class="container">
      <a class="title" href="{{ url_for('dashboard') }}">{{ config.app_title|safe }}</a>
      {% if user %}
        <a href="{{ url_for('logout') }}" class="fr title"><i class="fa fa-sign-out"></i></a>
        <div class="spacer fr"></div>
        <a href="{{ user.url() }}" class="fr title"><i class="fa fa-user"></i> {{ user.name }}</a>
      {% endif %}
      <div class="cl"></div>
    </div></div>
    {% set flash = flux.utils.flash() %}
    {% if flash %}
      <div class="header flash"><div class="container">
        <span><b>Notice:</b> {{ flash }}</span>
      </div></div>
    {% endif %}
    <div id="content"><div class="container">
      {% block body %}
      {% endblock body %}
    </div></div>
    <div id="footer"><div class="container">
      <small>Powered by <a href="https://github.com/NiklasRosenstein/flxu">Flux</a> v{{ flux.__version__ }}</small>
    </div></div>
  </div></body>
</html>
