{% extends "base.html" %}
{% from "macros.html" import build_link, fmtdate %}
{% set page_title = "Dashboard" %}
{% block body %}
  <h2>Repositories ({{ repositories|length }})
    {% if user.can_manage %}
      <a href="{{ url_for('edit_repo') }}">+</a>
    {% endif %}
  </h2>
  <p>This is a list of all registered repositories. You can view the state
    of the most recently added build for a repository and follow the link
    to view all information, the logs and download build artifacts.</p>
  <table>
    {% for repo in repositories %}
      <tr>
        <td><a href="{{ repo.url() }}">{{ repo.name }}</a></td>
        {% if repo.builds %}
        {% set build = repo.builds[0] %}
        <td>{{ build_link(build) }}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% if user.can_manage %}
    <h2>Users ({{ all_users|length }})
      <small><a href="{{ url_for('edit_user') }}">+</a></small>
    </h2>
    <table>
    {% for auser in all_users %}
      <tr><td><a href="{{ auser.url() }}">{{ auser.name }}</a></td></tr>
    {% endfor %}
    </table>

    <h2>Public Key</h2>
    {% if public_key %}
      <p>This is the public key of the Flux CI server that needs to be added
        to the Git server from which repositories are cloned.</p>
      <pre><code>{{ public_key }}</code></pre>
    {% else %}
      <p class="notice warn">The server has no SSH public key!</p>
    {% endif %}

    <h2>Webhook</h2>
    <p>This is the Webhook URL. You should use the appropriate name of
      the Git server for the <code>?api=</code> url parameter.</p>
    <ul>
      <li><code>{{ flux.utils.strip_url_path(config.app_url) }}{{ url_for('hook_push') }}?api=(gogs|github)</code></li>
    </ul>
  {% endif %}
{% endblock body %}
