{% extends "base.html" %}
{% from "macros.html" import render_error_list %}
{% set is_new = (cuser == None) %}
{% set is_myself = not is_new and user and cuser.id == user.id %}
{% set page_title = ("User Settings" if not is_new else "Add User")|safe %}

{% block toolbar %}
  {% if user.can_manage %}
    <li>
      <a href="{{ repo.url() if repo else url_for('users') }}">
        <i class="fa fa-chevron-left"></i>Users
      </a>
    </li>
  {% endif %}
{% endblock toolbar %}

{% block body %}
  {{ render_error_list(errors) }}
  <form method="post">
    <div class="field {{ 'required' if is_new }}">
      <label for="user_name">Username</label>
      <input type="text"
              id="user_name"
              name="user_name"
              value="{{ cuser.name if cuser else "" }}" {{ 'disabled="disabled"' if not is_new else "" }}
              placeholder="Username" />
    </div>
    <div class="field {{ 'required' if is_new }}">
      <label for="user_password">Password</label>
      <input type="password"
              id="user_password"
              name="user_password"
              value=""
              placeholder="{{ "leave blank to keep old" if not is_new else "Password" }}" />
    </div>
    <div class="field">
      {% macro checked_with(cond) %}{{ "checked"|safe if cond else "" }}{% endmacro %}
      {% set checkbox_flags = 'disabled="disabled"'|safe if not user.can_manage else '' %}
      <label>Privileges</label>
      <label class="checkbox">
        <input type="checkbox" name="user_can_manage" {{ checked_with(cuser.can_manage) }} {{ checkbox_flags }} />
        can manage
      </label>
      <label class="checkbox">
        <input type="checkbox" name="user_can_download_artifacts" {{ checked_with(cuser.can_download_artifacts) }} {{ checkbox_flags }} />
        can download artifacts
      </label>
      <label class="checkbox">
        <input type="checkbox" name="user_can_view_buildlogs" {{ checked_with(cuser.can_view_buildlogs) }} {{ checkbox_flags }} />
        can view buildlogs
      </label>
    </div>

    <button class="btn-primary">
      {{ "Update" if not is_new else "Add User" }}
    </button>
    {% if not is_new and not is_myself %}
    <a class="btn btn-danger"
        href="{{ url_for('delete', user_id=cuser.id) }}"
        data-confirmation="Do you really want to delete this user?">
      Delete User
    </a>
    {% endif %}
  </form>

  <h2>Login Sessions</h2>
  {% for token in request.user.login_tokens.select().order_by(flux.models.desc(flux.models.LoginToken.created)) %}
    <div class="login-session{{ ' expired' if token.expired() else ''}}">
      <div class="login-session-ip">{{ token.ip }}</div>
      <div class="login-session-date">{{ token.created.strftime('%Y-%m-%d %H:%M') }}</div>
    </div>
  {% endfor %}
{% endblock %}
