{% extends "base.html" %}
{% set page_title = "Add Repository" %}
{% block body %}
  <div class="subheader">
    <a href="{{ repo.url() if repo else url_for('dashboard') }}"><i class="fa fa-arrow-left"></i> {{ repo.name if repo else "Dashboard" }}</a>
  </div>
  <h2>{{ "Edit" if repo else "Add" }} Repository</h2>
  <p>You must ensure that the Flux CI server has read permission for
    the clone URL that you specify below. The URL is stored unencrypted
    in the database, thus you should avoid using the
    <code>https://username:password@host/name</code> format.</p>
  {% if errors %}
    <b>Errors</b>
    <ul>
    {% for msg in errors %}
      <li>{{ msg }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <form method="post">
    <div class="field required">
      <label for="repo_name">Owner/Name</label>
      <input type="text" name="repo_name" value="{{ repo.name if repo else "" }}">
    </div>
    <div class="field required">
      <label>Clone URL</label>
      <input type="text" name="repo_clone_url" value="{{ repo.clone_url if repo else ""}}">
    </div>
    <div class="field">
      <label for="repo_secret">Secret</label>
      <small><p>The secret key that is sent by the Git server for
        authentication purpose. The default value is a randomly
        generated UUID that serves the purpose. You can also leave
        the field blank if the secret sent by the server is an empty string.</p></small>
      <input type="text" name="repo_secret" value="{{ repo.secret if repo else flux.utils.make_secret() }}">
    </div>
    <div class="field">
      <label for="repo_ref_whitelist">Ref Whitelist</label>
      <small><p>A list of Git refs on which builds are triggered. If no refs are
        listed, a build is triggered for any ref. One Git ref per line.</p></small>
      <textarea name="repo_ref_whitelist">{{ repo.ref_whitelist }}</textarea>
    </div>
    <button class="button blue">{{ "Update" if repo else "Add Repository" }}</button>
  </form>
{% endblock body %}
