{% extends "base.html" %}
{% from "macros.html" import render_error_list %}
{% set page_title = "Edit Repository" if repo else "Add Repository" %}
{% block toolbar %}
  <li>
    <a href="{{ repo.url() if repo else url_for('repositories') }}">
      <i class="fa fa-chevron-left"></i>{{ repo.name if repo else "Repositories" }}
    </a>
  </li>
{% endblock toolbar %}

{% block body %}
  {{ render_error_list(errors) }}
  <div class="infobox">
    You must ensure that the Flux CI server has read permission for
    the clone URL that you specify below. The URL is stored unencrypted
    in the database, thus you should avoid using the
    <code>https://username:password@host/name</code> format.
  </div>
  <form method="post">
    <div class="field required">
      <label for="repo_name">Owner/Name</label>
      <input type="text" id="repo_name" name="repo_name" value="{{ repo.name if repo else "" }}" />
    </div>
    <div class="field required">
      <label for="repo_clone_url">Clone URL</label>
      <input type="text" id="repo_clone_url" name="repo_clone_url" value="{{ repo.clone_url if repo else ""}}" />
      <span id="repo_check_result" class="infobox" style="display: none;"></span>
    </div>
    <div class="field">
      <label for="repo_secret">Secret</label>
      <div class="infobox">
        The secret key that is sent by the Git server for
        authentication purpose. The default value is a randomly
        generated UUID that serves the purpose. You can also leave
        the field blank if the secret sent by the server is an empty string.
      </div>
      <input type="text" id="repo_secret" name="repo_secret" value="{{ repo.secret if repo else flux.utils.make_secret() }}" />
    </div>
    <div class="field">
      <label for="repo_ref_whitelist">Ref Whitelist</label>
      <div class="infobox">
        A list of Git refs on which builds are triggered. If no refs are
        listed, a build is triggered for any ref. One Git ref per line.
      </div>
      <textarea id="repo_ref_whitelist" name="repo_ref_whitelist">{{ repo.ref_whitelist }}</textarea>
    </div>
    <div class="field">
      <label for="repo_build_script">Build script</label>
      <div class="infobox">
        Build script, that overrides default build script attached in project repository.
        This also allows to not require build script to be placed in project repository.
      </div>
      <textarea id="repo_build_script" name="repo_build_script">{{ flux.utils.read_override_build_script(repo) if repo else "" }}</textarea>
    </div>
    {% if public_key %}
      <div class="field">
        <label>Public Key</label>
        <pre>{{ public_key }}</pre>
      </div>
    {% endif %}
    <button class="btn-primary">{{ "Update" if repo else "Add Repository" }}</button>
  </form>
  <script>
    function checkRepo() {
      let result = $('#repo_check_result');
      result.removeClass('ok').removeClass('fail')[0].innerHTML = '<i class="fa fa-wait-spin"></i>Checking accessibility of repository.';
      result.show();
      $.ajax({
        url: '{{ url_for('ping_repo') }}',
        type: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
        },
        data: "url=" + encodeURI($('#repo_clone_url').val()) + "&repo=" + encodeURI($('#repo_name').val()),
        success: function() {
          result.addClass('ok')[0].innerHTML = '<i class="fa fa-check"></i>Git repository is accessible.';
        },
        error: function () {
          result.addClass('fail')[0].innerHTML = '<i class="fa fa-times"></i>Git repository is NOT accessible.';
        }
      });
    }

    $('#repo_clone_url').on('blur', function() {
      checkRepo();
    });
  </script>
{% endblock body %}
