{% extends "base.html" %}
{% set page_title = "Integration" %}
{% block body %}
  {% if user.can_manage %}
    <h3>Public Key</h3>
    {% if public_key %}
      <p>
        This is the public key of the Flux CI server that needs to be added
        to the Git server from which repositories are cloned.
      </p>
      <pre>{{ public_key }}</pre>
    {% else %}
      <div class="messages error">
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <div>The server has no SSH public key!</div>
      </div>
    {% endif %}

    <h3>Webhook</h3>
    <p>
      This is the Webhook URL. You should use the appropriate name of
      the Git server for the <code>?api=</code> url parameter. A list of
      Git servers for which webhooks are supported can be found below.
    </p>
    <pre>{{ flux.utils.strip_url_path(config.app_url) }}{{ url_for('hook_push') }}</pre>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Service</th>
          <th>Webhook URL Parameter</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/bitbucket.png') }}"></td>
          <td><a href="https://bitbucket.org/product/pricing?tab=self-hosted">BitBucket (Self-hosted) <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=bitbucket</code></td>
        </tr>
        <tr>
            <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/bitbucket.png') }}"></td>
          <td><a href="https://bitbucket.org/product/pricing?tab=cloud">BitBucket (Cloud) <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=bitbucket-cloud</code></td>
        </tr>
        <tr>
            <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/gitbucket.png') }}"></td>
          <td><a href="https://gitbucket.github.io/">GitBucket <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=gitbucket</code></td>
        </tr>
        <tr>
            <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/gitea.png') }}"></td>
          <td><a href="https://gitea.io/en-US/">Gitea <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=gitea</code></td>
        </tr>
        <tr>
          <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/github.png') }}"></td>
          <td><a href="https://github.com">GitHub <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=github</code></td>
        </tr>
        <tr>
            <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/gitlab.png') }}"></td>
          <td><a href="https://about.gitlab.com/">GitLab <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=gitlab</code></td>
        </tr>
        <tr>
            <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/gogs.png') }}"></td>
          <td><a href="https://gogs.io">Gogs <i class="fa fa-sign-out"></i></a></td>
          <td><code>?api=gogs</code></td>
        </tr>
        <tr>
          <td><img class="service-icon" src="{{ url_for('static', filename='flux/img/bare.png') }}"></td>
          <td><a href="#" data-toggle="#bare-info">Bare repository</a></td>
          <td><code>?api=bare</code></td>
        </tr>
      </tbody>
    </table>
    <div id="bare-info" class="toggable messages">
      <a href="#" class="close">
        <i class="fa fa-times"></i>
      </a>
      <div>
        The <code>bare</code> API is a simplified JSON payload for the purpose of using Flux CI
        with <a href="https://git-scm.com/book/en/v1/Git-on-the-Server">bare repositories</a>.
	<p>
	  <strong>Example of custom webhook request:</strong>
	</p>
        <code>
          <pre>{
  "owner": "owner",
  "name": "name",
  "ref": "refs/tags/1.0",
  "commit": "0000000000000000000000000000000000000000",
  "secret": "custom-project-secret-in-plain-text"
}</pre>
        </code>
	<p>
	  <strong>Example of custom update hook:</strong>
	</p>
        <code>
          <pre>#!/bin/sh
refname="$1"
newrev="$3"

if [ "$newrev" =  "0000000000000000000000000000000000000000" ]; then
        exit 0
fi

curl --header "Content-Type: application/json" --request POST --data "{\"owner\": \"owner\", \"name\": \"name\", \"ref\": \"$refname\", \"commit\": \"$newrev\", \"secret\": \"custom-project-secret-in-plain-text\"}" http://localhost/flux/hook/push?api=bare > /dev/null

exit 0</pre>
        </code>
      </div>
    </div>
  {% endif %}

{% endblock body %}
