{% extends "base.html" %}
{% from "macros.html" import render_error_list %}
{% set page_title = "Login" %}
{% block body %}
  <div class="login-form">
    <span class="login-header">Please sign in to the application</span>
    {{ render_error_list(errors) }}
    <form method="post">
      <div class="form-field">
        <input type="text" name="user_name" placeholder="Username" autofocus />
      </div>
      <div class="form-field">
        <input type="password" name="user_password" placeholder="Password" />
      </div>
      <button class="btn-primary">Login</button>
    </form>
  </div>
{% endblock body %}
