{% macro build_icon(build) %}
  {% if build.status == build.Status_Queued %}
    <i class="fa fa-clock-o"></i>
  {% elif build.status == build.Status_Building %}
    <i class="fa fa-tasks"></i>
  {% elif build.status == build.Status_Error %}
    <i class="fa fa-exclamation-triangle"></i>
  {% elif build.status == build.Status_Success %}
    <i class="fa fa-check"></i>
  {% elif build.status == build.Status_Stopped %}
    <i class="fa fa-stop-circle-o"></i>
  {% else %}
    <i class="fa fa-question-circle"></i>
  {% endif %}
{%- endmacro %}

{% macro build_link(build) %}
  <a href="{{ build.url() }}">{{ build_icon(build) }} #{{ build.num }} ({{ build.ref }})</a>
{%- endmacro %}

{% macro fmtdate(date) %}
  {% if date %}
    {{ date.strftime("%Y/%m/%d %H:%M") }}
  {%- endif %}
{%- endmacro %}
