{% macro render_builder_list(builders, alt_text) %}
  {% if builders %}
    <ul class="build-list">
    {% for builder in builders %}
      <li>
        <div class="head">
          <span class="repo">{{ builder.repo['name'] }}</span>
          <span class="commit">{{ builder.commit_sha }}</span>
          <span class="date">{{ builder.created.strftime("%Y/%m/%d %H:%M") }}</span>
          {% if builder.status != 'queued' %}
            <a class="download-log" href="{{ builder.download_log_url() }}">&#9660; Log</a>
            <a class="download-artifacts" href="{{ builder.download_artifacts_url() }}">&#9660; Artifacts</a>
          {% endif %}
          {% if builder.status == 'finished' %}
            <span class="exit-code">{{ builder.exitcode }}</span>
          {% endif %}
        </div>
        <div class="output" hidden="true"></div>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p><i>{{ alt_text }}</i></p>
  {% endif %}
{%- endmacro %}

