{% extends "base.html" %}
{% from "macros.html" import build_link, fmtdate %}
{% set page_title = repo.name %}
{% block body %}
  <div class="subheader">
    <a href="{{ url_for('dashboard') }}"><i class="fa fa-arrow-left"></i> Dashboard</a>
  </div>
  <h2>{{ repo.name }} ({{ repo.builds|length }})</h2>
  <p>This is an overview of all builds for this repository.</p>
  {% if repo.builds %}
    <table>
      <thead><tr>
        <th>#</th>
        <th>Queued</th>
        <th>Finished</th>
      </tr></thead>
      {% for build in repo.builds %}
        <tr><td>{{ build_link(build) }}</td>
          <td>{{ fmtdate(build.date_queued) }}</td>
          <td>{{ fmtdate(build.date_finished) }}</td></tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No builds for {{ repo.name }}</p>
  {% endif %}
{% endblock %}
